<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FIPS Reporting</title>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
</head>
<body class="govuk-template__body">
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
