@model Compass.ViewModels.Modern.Ddr.DdrDetailViewModel
@{
  var record = Model.Record;
}
<a class="govuk-link govuk-!-margin-right-4" href="@Url.Action("Register", "ModernDesignDecisionRecords")">Back to register</a>
@if (string.Equals(record.Status, "Draft", StringComparison.OrdinalIgnoreCase) && Model.CanEdit)
{
  <a class="govuk-button" href="@Url.Action("New", "ModernDesignDecisionRecords", new { reference = record.Reference })">Continue editing</a>
}
