@model Compass.ViewModels.Modern.Ddr.DdrDetailViewModel
@{
  var record = Model.Record;
  string TagClass(string status) => status switch
  {
    "Draft" => "govuk-tag govuk-tag--grey",
    "Proposed" => "govuk-tag govuk-tag--blue",
    "In use" => "govuk-tag govuk-tag--green",
    "Under review" => "govuk-tag govuk-tag--orange",
    "Approved" => "govuk-tag govuk-tag--turquoise",
    "Rejected" => "govuk-tag govuk-tag--red",
    "Superseded" => "govuk-tag govuk-tag--purple",
    "Retired" => "govuk-tag govuk-tag--grey",
    _ => "govuk-tag govuk-tag--grey",
  };
}
<p class="govuk-body govuk-!-margin-bottom-4">
  <span class="@TagClass(record.Status)">@record.Status</span>
  <span class="govuk-tag govuk-tag--grey govuk-!-margin-left-1">@record.Category</span>
  @if (record.DeviationFlag)
  {
    <span class="govuk-tag govuk-tag--red govuk-!-margin-left-1">Deviation</span>
  }
  @if (record.RetrospectiveRecord)
  {
    <span class="govuk-tag govuk-tag--purple govuk-!-margin-left-1">Retrospective</span>
  }
  @if (Model.ReviewOverdue)
  {
    <span class="govuk-tag govuk-tag--red govuk-!-margin-left-1">Review overdue</span>
  }
</p>
