@model Compass.ViewModels.Modern.CustomReportViewViewModel
@if (string.IsNullOrWhiteSpace(Model.IntelligenceSummary))
{
<p class="govuk-body">No intelligence summary available.</p>
}
else
{
<div class="mr-card">
    <p class="govuk-body" style="white-space:pre-wrap; line-height:1.6;">@Model.IntelligenceSummary</p>
</div>
}
