@model Compass.ViewModels.Modern.CustomReportViewViewModel
@if (Model.IsOwner)
{
<a href="@Url.Action("CustomReportEdit", "ModernReporting", new { id = Model.ReportId })" class="govuk-button govuk-!-margin-bottom-0">Edit report</a>
}
else
{
<form method="post" action="@Url.Action("CustomReportDuplicate", "ModernReporting", new { id = Model.ReportId })" style="display:inline">
  @Html.AntiForgeryToken()
  <button type="submit" class="govuk-button govuk-!-margin-bottom-0">Duplicate report</button>
</form>
}
