@* Tabbed work item modal (50% viewport width) for reporting drill-down tables. *@
<div id="mr-reporting-modal" class="mr-reporting-modal" role="dialog" aria-modal="true" aria-labelledby="mr-reporting-modal-title" hidden>
  <div class="mr-reporting-modal__backdrop" data-mr-modal-close></div>
  <div class="mr-reporting-modal__panel">
    <div class="mr-reporting-modal__header">
      <h2 id="mr-reporting-modal-title" class="govuk-heading-m govuk-!-margin-bottom-0"></h2>
      <button type="button" class="mr-reporting-modal__close" aria-label="Close" data-mr-modal-close>&times;</button>
    </div>
    <div class="mr-reporting-modal__tabs" role="tablist" aria-label="Work item details">
      <button type="button" class="mr-reporting-modal__tab" role="tab" id="mr-reporting-tab-overview" aria-selected="true" aria-controls="mr-reporting-pane-overview" data-mr-tab="overview">Overview</button>
      <button type="button" class="mr-reporting-modal__tab" role="tab" id="mr-reporting-tab-aim" aria-selected="false" aria-controls="mr-reporting-pane-aim" data-mr-tab="aim">Aim</button>
      <button type="button" class="mr-reporting-modal__tab" role="tab" id="mr-reporting-tab-update" aria-selected="false" aria-controls="mr-reporting-pane-update" data-mr-tab="update">Latest monthly update</button>
      <button type="button" class="mr-reporting-modal__tab" role="tab" id="mr-reporting-tab-ptg" aria-selected="false" aria-controls="mr-reporting-pane-ptg" data-mr-tab="ptg">Path to green</button>
      <button type="button" class="mr-reporting-modal__tab" role="tab" id="mr-reporting-tab-milestones" aria-selected="false" aria-controls="mr-reporting-pane-milestones" data-mr-tab="milestones">Milestones</button>
    </div>
    <div class="mr-reporting-modal__body">
      <div id="mr-reporting-pane-overview" class="mr-reporting-modal__pane is-active" role="tabpanel" aria-labelledby="mr-reporting-tab-overview">
        <p id="mr-reporting-overview-text" class="govuk-body-s"></p>
      </div>
      <div id="mr-reporting-pane-aim" class="mr-reporting-modal__pane" role="tabpanel" aria-labelledby="mr-reporting-tab-aim" hidden>
        <p id="mr-reporting-aim-text" class="govuk-body-s"></p>
      </div>
      <div id="mr-reporting-pane-update" class="mr-reporting-modal__pane" role="tabpanel" aria-labelledby="mr-reporting-tab-update" hidden>
        <p id="mr-reporting-update-text" class="govuk-body-s"></p>
      </div>
      <div id="mr-reporting-pane-ptg" class="mr-reporting-modal__pane" role="tabpanel" aria-labelledby="mr-reporting-tab-ptg" hidden>
        <p id="mr-reporting-ptg-text" class="govuk-body-s"></p>
      </div>
      <div id="mr-reporting-pane-milestones" class="mr-reporting-modal__pane" role="tabpanel" aria-labelledby="mr-reporting-tab-milestones" hidden>
        <p id="mr-reporting-milestones-text" class="govuk-body-s"></p>
      </div>
    </div>
    <div class="mr-reporting-modal__footer">
      <a id="mr-reporting-modal-view-link" class="govuk-link govuk-link--no-visited-state" href="#">View full work item</a>
    </div>
  </div>
</div>
