@model Compass.ViewModels.Modern.ReportingDashboardCardViewModel
<article class="dfe-f-card reporting-dashboard__card">
  <div class="dfe-f-card__inner">
    <header class="dfe-f-card__header">
      <h3 class="govuk-heading-s dfe-f-card__heading govuk-!-margin-top-0">
        <a class="govuk-link dfe-f-card__link" href="@Model.Href">@Model.Title</a>
      </h3>
    </header>
    <p class="dfe-f-card__body govuk-body-s govuk-!-margin-bottom-0">@Model.Description</p>
  </div>
</article>
