@{
    ViewData["Title"] = "Risk report";
}

@section Breadcrumbs {
 <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="@Url.Action("Index", "ModernDashboard")">Home</a></li>
 <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="@Url.Action("Dashboard", "ModernReporting")">Reporting</a></li>
 <li class="govuk-breadcrumbs__list-item" aria-current="page">Risk</li>
}

<h1 class="govuk-heading-l">Risk</h1>
<p class="govuk-body">This page will show risk reporting and intelligence.</p>
