@model Compass.ViewModels.Modern.ModernPerformanceCommissionDetailViewModel
@using Compass.Models
@using Compass.ViewModels.Modern
@{
  var c = Model.Commission;
}
<div style="display:flex;flex-direction:column;align-items:flex-end;gap:0.5rem;width:100%;">
 @if (Model.IsOpenForSubmission || !Model.IsPastDue)
 {
 <div class="dfe-c-flex dfe-c-flex--wrap" style="gap:0.5rem;justify-content:flex-end;">
    @if (Model.IsOpenForSubmission)
    {
 <span class="dfe-f-badge dfe-f-badge--green">Open for submission</span>
    }
    else
    {
 <span class="dfe-f-badge dfe-f-badge--blue">Not open or inactive</span>
    }
  </div>
 }
 <div class="dfe-c-flex dfe-c-flex--wrap" style="gap:0.5rem;justify-content:flex-end;">
 <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" href="@Url.Action("ExportExcel", "ModernPerformance", new { commissionId = c.Id, tab = Model.Tab })">Download Excel</a>
 <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" href="@Url.Action("BulkUpload", "ModernPerformance", new { commissionId = c.Id, tab = Model.Tab })">Bulk upload</a>
  </div>
</div>
