@model Compass.Models.FunctionalStandard
@{
    ViewData["Title"] = "Delete functional standard";
    var hasActiveAssessments = ViewBag.HasActiveAssessments as bool? ?? false;
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Delete functional standard</h1>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Confirm deletion</h3>
                    </div>
                    <div class="card-body">
                        @if (hasActiveAssessments)
                        {
                            <div class="alert alert-danger">
                                <h5>Cannot delete</h5>
                                This functional standard cannot be deleted because it has submitted assessments. Please remove or unsubmit all assessments before attempting to delete this standard.
                            </div>
                        }
                        else
                        {
                            <div class="alert alert-warning">
                                <h5>Warning</h5>
                                Are you sure you want to delete this functional standard? This will also delete all associated themes, practice areas, and criteria.
                            </div>
                        }
                        
                        <dl class="row">
                            <dt class="col-sm-3">ID</dt>
                            <dd class="col-sm-9"><strong>@Model.Id</strong></dd>

                            <dt class="col-sm-3">Title</dt>
                            <dd class="col-sm-9">@Model.Title</dd>
                        </dl>
                    </div>

                    <div class="card-footer">
                        @if (hasActiveAssessments)
                        {
                            <button type="button" class="btn btn-danger" disabled>
                                Delete standard
                            </button>
                            <a asp-action="Index" class="btn btn-default">Back to list</a>
                        }
                        else
                        {
                            <form asp-action="Delete" method="post">
                                <input type="hidden" asp-for="Id" />
                                <button type="submit" class="btn btn-danger">
                                    Delete standard
                                </button>
                                <a asp-action="Index" class="btn btn-default">Cancel</a>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

