@model Compass.Models.FunctionalStandardTheme
@{
    ViewData["Title"] = "Edit theme";
    var standard = ViewBag.Standard as Compass.Models.FunctionalStandard;
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Edit theme</h1>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                <div class="callout callout-info">
                    <h5>Standard: @standard.Title</h5>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Theme details</h3>
                    </div>
                    <form asp-action="EditTheme" method="post">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="FunctionalStandardId" />
                        <input type="hidden" asp-for="CreatedAt" />
                        
                        <div class="card-body">
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                            
                            <div class="form-group">
                                <label asp-for="ThemeId">Theme ID</label>
                                <input asp-for="ThemeId" type="number" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label asp-for="Title">Title</label>
                                <input asp-for="Title" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label asp-for="Description">Description</label>
                                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">
                                Save changes
                            </button>
                            <a asp-action="Themes" asp-route-id="@standard.Id" class="btn btn-default">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

