@model FipsProductDetailViewModel
@{
  var p = Model.Product;
  var editUrl = Url.Action("FipsProduct", "ModernManage", new { id = p.Id, tab = "information", edit = true }) ?? "#";
}
<div class="govuk-button-group work-item-masthead__actions-buttons govuk-!-margin-bottom-0">
  @if (Model.CanManage)
  {
    @if (Model.EditMode && Model.ActiveDetailTab == "information")
    {
      <a href="@Url.Action("FipsProduct", "ModernManage", new { id = p.Id, tab = "information", edit = false })"
         class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0">Cancel editing</a>
    }
    else
    {
      <a href="@editUrl" class="govuk-button govuk-!-margin-bottom-0">Edit</a>
    }
  }
  else
  {
    <button type="button"
            class="govuk-button govuk-!-margin-bottom-0"
            id="fips-product-edit-denied-open"
            aria-haspopup="dialog"
            aria-controls="fips-product-cannot-edit-modal">
      Edit
    </button>
  }
</div>
