@model FipsProductDetailViewModel
@using Compass.Models.Fips
@{
  var p = Model.Product;
  string StatusTagClass(CMDBProductStatus status) => status switch
  {
    CMDBProductStatus.Active => "dfe-c-tag--green",
    CMDBProductStatus.New => "dfe-c-tag--blue",
    CMDBProductStatus.Inactive => "dfe-c-tag--grey",
    CMDBProductStatus.Rejected => "dfe-c-tag--red",
    _ => "dfe-c-tag--grey"
  };
}
<p class="govuk-body fips-product-detail__meta govuk-!-margin-bottom-0">
  @if (p.Phase != null)
  {
    <span class="govuk-!-font-weight-bold">@p.Phase.Name</span><span class="fips-product-detail__meta-sep" aria-hidden="true"> · </span>
  }
  else
  {
    <span class="govuk-!-font-weight-bold">Phase not set</span><span class="fips-product-detail__meta-sep" aria-hidden="true"> · </span>
  }
  <span class="dfe-c-tag @StatusTagClass(p.Status)">@p.Status</span>
  @if (p.UniqueID != 0)
  {
    <span class="fips-product-detail__meta-sep" aria-hidden="true"> · </span>
    <span class="govuk-visually-hidden">Product ID: </span><span>@p.UniqueID</span>
  }
</p>
