@model FipsProductDetailViewModel
@using Compass.Models.Fips
@{
  var p = Model.Product;
  string StatusTagClass(CMDBProductStatus status) => status switch
  {
    CMDBProductStatus.Active => "dfe-c-tag--green",
    CMDBProductStatus.New => "dfe-c-tag--blue",
    CMDBProductStatus.Inactive => "dfe-c-tag--grey",
    CMDBProductStatus.Rejected => "dfe-c-tag--red",
    _ => "dfe-c-tag--grey"
  };
}
<div class="fips-product-detail__title-badges govuk-!-margin-bottom-0">
  @if (p.Phase != null)
  {
    <span class="dfe-f-badge dfe-f-badge--blue govuk-!-margin-right-2 govuk-!-margin-bottom-2">@p.Phase.Name</span>
  }
  else
  {
    <span class="dfe-f-badge dfe-f-badge--grey govuk-!-margin-right-2 govuk-!-margin-bottom-2">Phase not set</span>
  }
  <span class="dfe-f-badge dfe-f-badge--small @(p.Status == CMDBProductStatus.Active ? "dfe-f-badge--green" : p.Status == CMDBProductStatus.New ? "dfe-f-badge--blue" : "dfe-f-badge--grey") govuk-!-margin-right-2 govuk-!-margin-bottom-2">@p.Status</span>
  @if (p.UniqueID != 0)
  {
    <span class="dfe-f-badge dfe-f-badge--small dfe-f-badge--grey govuk-!-margin-bottom-2"><span class="govuk-visually-hidden">Product ID </span>#@p.UniqueID</span>
  }
</div>
