@{
    ViewData["Title"] = "Standards — Manage";
}

@section Breadcrumbs {
    <li>Manage</li>
    <li>Standards</li>
}

<div class="dfe-c-page">
 <h1 class="govuk-heading-l">Standards</h1>
 <p class="govuk-body">Standards management is coming soon.</p>
</div>
