@model ErrorViewModel
@{
    ViewData["Title"] = "Sorry, there is a problem with the service";
    var dashboardUrl = Url.Action("Index", "ModernDashboard") ?? "/modern/dashboard";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">@ViewData["Title"]</h1>
        <p class="govuk-body">
            An error occurred while processing your request. Try again later.
        </p>
        @if (Model?.ShowRequestId == true)
        {
            <p class="govuk-body">
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }
        <p class="govuk-body govuk-!-margin-bottom-0">
            <a class="govuk-button" href="@dashboardUrl">Return to dashboard</a>
        </p>
    </div>
</div>
