@{
    var statusCode = ViewData["StatusCode"] as int? ?? 404;
    var isForbidden = statusCode == 403;
    ViewData["Title"] = isForbidden ? "Access denied" : "Page not found";
    var dashboardUrl = Url.Action("Index", "ModernDashboard") ?? "/modern/dashboard";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">@ViewData["Title"]</h1>
        @if (isForbidden)
        {
            <p class="govuk-body">You do not have permission to view this page.</p>
        }
        else
        {
            <p class="govuk-body">If you typed the web address, check it is correct.</p>
            <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
        }
        <p class="govuk-body govuk-!-margin-bottom-0">
            <a class="govuk-button" href="@dashboardUrl">Return to dashboard</a>
        </p>
    </div>
</div>
