<p class="mb-2">Use this app to onboard your product to the User Satisfaction Service (USS), and view recent responses.</p>
<ul>
    <li>Onboard: map a FIPS ID and friendly name.</li>
    <li>Responses: check recent USS submissions and scores.</li>
</ul>


