@model Compass.Models.Modern.Work.MonthlyReportViewModel
<p class="govuk-body govuk-!-margin-bottom-0">
  <strong>@Model.WorkItemTitle</strong>
  <span class="dfe-c-text-muted"> · WI-@Model.WorkItemId.ToString("D8")</span><br />
  Reporting period <strong>@Model.PeriodLabel</strong>.
</p>
