<dialog id="work-item-create-service-offering-modal"
        class="dfe-f-modal govuk-!-margin-0"
        data-module="dfe-f-modal"
        aria-labelledby="work-item-create-service-offering-modal-title"
        aria-modal="true"
        role="dialog">
  <div class="dfe-f-modal__panel">
    <header class="dfe-f-modal__header">
      <h2 id="work-item-create-service-offering-modal-title" class="govuk-heading-m dfe-f-modal__title">Create service offering</h2>
      <button type="button" class="dfe-f-modal__close" data-dfe-modal-close aria-label="Close">
        <span class="dfe-f-modal__close-x" aria-hidden="true">×</span>
      </button>
    </header>
    <div class="dfe-f-modal__body">
      <p class="govuk-body govuk-!-margin-bottom-0">
        This feature is not available yet. It will eventually create a CMDB entry for you from this work item.
      </p>
      <p class="govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-0">
        For now, use <strong>MyDFE</strong> and follow the <strong>create service offering</strong> process.
      </p>
    </div>
    <footer class="dfe-f-modal__footer">
      <button type="button" class="govuk-button govuk-button--secondary" data-dfe-modal-close>Close</button>
    </footer>
  </div>
</dialog>
