@{
  ViewData["Title"] = "Your work dashboard";
}

@section Breadcrumbs {
 <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="@Url.Action("Index", "ModernDashboard")">Home</a></li>
 <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="@Url.Action("Dashboard", "ModernWork")">Work</a></li>
 <li class="govuk-breadcrumbs__list-item" aria-current="page">Dashboard</li>
}

<div class="modern-work-page">
@{
  var workDashboardHeaderActions = await Html.PartialAsync("_WorkDashboardHeaderActions");
}
@await Html.PartialAsync("_ModernPageHeader", new Compass.ViewModels.Modern.ModernPageHeaderViewModel {
  Caption = "Work",
  Title = "Your work dashboard",
  Actions = workDashboardHeaderActions
})

 @await Html.PartialAsync("_DashboardMonthlyReporting")
</div>
