@model string
<div class="govuk-button-group work-item-masthead__actions-buttons govuk-!-margin-bottom-0">
  <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0" href="@Model">Export assessment</a>
</div>
