@model Compass.ViewModels.Modern.DdtStandardDetailToolbarViewModel
@if (Model.CanOpenEdit && Model.DraftEditId.HasValue && Model.DraftEditId == Model.StandardId)
{
  <a class="govuk-button govuk-!-margin-bottom-0" href="@Url.Action("DdtCreate", "ModernStandards", new { id = Model.DraftEditId })">Continue editing</a>
}
else if (Model.CanOpenEdit && Model.NeedsDraftFromPublished)
{
  <a class="govuk-button govuk-!-margin-bottom-0" href="@Url.Action("DdtStartEditConfirm", "ModernStandards", new { id = Model.StandardId })">Edit</a>
}
else if (!Model.CanOpenEdit)
{
  <button type="button"
          class="govuk-button govuk-!-margin-bottom-0"
          id="ddt-edit-no-access"
          aria-haspopup="dialog"
          aria-controls="ddt-edit-denied-modal">
    Edit
  </button>
}
