@model Compass.Models.FunctionalStandardAssessment
<div class="govuk-button-group">
  <a href="@Url.Action("ExportAssessmentCsv", "ModernStandards", new { assessmentId = Model.Id })" class="govuk-button govuk-button--outline-blue">Export CSV</a>
  <a href="@Url.Action("FunctionalStandardDashboard", "ModernStandards", new { id = Model.FunctionalStandardId })" class="govuk-button govuk-button--secondary">Back to standard</a>
</div>
