<p class="govuk-body govuk-!-margin-bottom-0" style="max-width: 40rem;">
  Review access requests for departmental CMS products. Open a request by the requestor's name to grant access (Notify email) or reject.
</p>
