@model Compass.Models.FunctionalStandardAssessment
@{
  var isSubmitted = Model.SubmittedAt.HasValue;
}
<p class="govuk-body govuk-!-margin-bottom-0">
  @if (isSubmitted)
  {
    <span class="dfe-c-tag dfe-c-tag--green">SUBMITTED</span>
    <span style="margin-left:0.5rem;">@Model.SubmittedAt!.Value.ToString("d MMM yyyy HH:mm")</span>
  }
  else
  {
    <span class="dfe-c-tag dfe-c-tag--blue">IN PROGRESS</span>
    <span id="fsa-save-status" class="fsa-save-status" aria-live="polite"></span>
  }
</p>
