@* Global confirmation dialog (DfE modal). Forms: data-confirm-title + data-confirm-message. JS: showConfirmModal(title, message, onConfirm). *@
<dialog id="confirm-modal"
        class="dfe-f-modal govuk-!-margin-0 app-confirm-modal"
        data-module="dfe-f-modal"
        aria-labelledby="confirm-modal-title"
        aria-describedby="confirm-modal-description"
        aria-modal="true"
        role="alertdialog">
  <div class="dfe-f-modal__panel">
    <header class="dfe-f-modal__header">
      <h2 id="confirm-modal-title" class="govuk-heading-m dfe-f-modal__title"></h2>
      <button type="button" class="dfe-f-modal__close" data-dfe-modal-close aria-label="Close">
        <span class="dfe-f-modal__close-x" aria-hidden="true">×</span>
      </button>
    </header>
    <div class="dfe-f-modal__body" id="confirm-modal-description">
      <p class="govuk-body govuk-!-margin-bottom-0" id="confirm-modal-message"></p>
    </div>
    <footer class="dfe-f-modal__footer">
      <button type="button" id="confirm-modal-confirm" class="govuk-button govuk-button--warning">Confirm</button>
      <button type="button" id="confirm-modal-cancel" class="govuk-button govuk-button--secondary" data-dfe-modal-close>Cancel</button>
    </footer>
  </div>
</dialog>
