<div class="govuk-button-group">
  <a href="@Url.Action("BusinessCaseNew", "ModernDemand")" class="govuk-button govuk-button--secondary">Add business case</a>
  <a href="@Url.Action("Submit", "ModernDemand")" class="govuk-button">Submit demand</a>
</div>
