@model Compass.Models.DemandPipeline.DemandPipelineRequest
<div class="govuk-button-group">
  @if (Model.Status == "Scoring" || Model.Status == "Scored")
  {
    <a href="@Url.Action("Scoring", "ModernDemand")" class="govuk-button govuk-button--secondary">Scoring queue</a>
  }
  @if (Model.Status == "Scored" || Model.Status == "TriagePending" || Model.Status == "Triage Pending")
  {
    <a href="@Url.Action("Triage", "ModernDemand")" class="govuk-button govuk-button--secondary">Triage queue</a>
  }
</div>
