@model Compass.Models.DemandPipeline.DemandPipelineRequest
<p class="govuk-body govuk-!-margin-bottom-0">Your demand reference is <strong>@Model.Reference</strong>. You can track progress from the demand register.</p>
