@model Compass.Models.DemandPipeline.DemandPipelineBusinessCase
<div class="govuk-button-group">
  <a href="@Url.Action("BusinessCaseEdit", "ModernDemand", new { id = Model.Id })" class="govuk-button govuk-button--secondary">Edit</a>
  @if (!Model.LinkedDemandRequestId.HasValue)
  {
    <a href="@Url.Action("Submit", "ModernDemand", new { businessCaseId = Model.Id })" class="govuk-button">Create demand from business case</a>
  }
</div>
