@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@if (Configuration.GetValue<bool>("isDev"))
{
  <div class="compass-dev-banner" role="region" aria-label="Development environment">
    <div class="govuk-width-container">
      <p class="compass-dev-banner__text govuk-!-margin-bottom-0">
        <strong class="govuk-tag govuk-tag--red compass-dev-banner__tag">Development</strong>
        <span>You are using a development version of COMPASS.</span>
      </p>
    </div>
  </div>
}
