@model DoDontPairViewModel
<div class="govuk-grid-row compass-do-dont-pair">
  <div class="govuk-grid-column-one-half">
    @await Html.PartialAsync("~/Views/Modern/Shared/_DoDontList.cshtml", Model.Dos)
  </div>
  <div class="govuk-grid-column-one-half">
    @await Html.PartialAsync("~/Views/Modern/Shared/_DoDontList.cshtml", Model.Donts)
  </div>
</div>
