@* FIPS product detail — “Change” links load single-field edit forms into this modal. *@
<dialog id="fips-information-edit-modal"
        class="dfe-f-modal govuk-!-margin-0 fips-information-edit-modal"
        data-module="dfe-f-modal"
        aria-labelledby="fips-information-edit-modal-title"
        aria-modal="true"
        role="dialog">
  <div class="dfe-f-modal__panel">
    <header class="dfe-f-modal__header">
      <h2 id="fips-information-edit-modal-title" class="govuk-heading-m dfe-f-modal__title">Edit</h2>
      <button type="button" class="dfe-f-modal__close" data-dfe-modal-close aria-label="Close">
        <span class="dfe-f-modal__close-x" aria-hidden="true">×</span>
      </button>
    </header>
    <div class="dfe-f-modal__body wd-overview-edit-modal__body govuk-!-padding-0">
      <div id="fips-information-edit-modal-host"
           class="wd-overview-edit-modal__host work-embed-modal-body"
           aria-live="polite"
           aria-busy="false"></div>
    </div>
  </div>
</dialog>
