<footer class="dfe-c-site-footer" role="contentinfo">
  <div class="govuk-width-container dfe-c-site-footer__inner">
    <h2 class="dfe-c-sr-only">Support links</h2>
    <ul class="dfe-c-site-footer__links">
      <li>
        <a href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter">Privacy policy</a>
      </li>
      <li>
        <a href="https://accessibility-statements.education.gov.uk/">Accessibility statement</a>
      </li>
    </ul>
    <p class="dfe-c-body-s" style="margin:0;color:var(--grey-4);">
      All content is available under the
      <a class="dfe-c-link" href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated.
    </p>
    <p class="dfe-c-body-s" style="margin:0.5rem 0 0;color:var(--grey-4);">
      <a class="dfe-c-link" href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">© Crown copyright</a>
    </p>
  </div>
</footer>
