@model Compass.Models.FunctionalStandard
@{
  var hasInProgress = ViewBag.HasInProgressAssessment as bool? ?? false;
}
<div class="govuk-button-group">
  @if (hasInProgress)
  {
    <button type="button" class="govuk-button" disabled title="Complete the in-progress assessment first">Start new assessment</button>
  }
  else
  {
    <button type="button" class="govuk-button" data-modal-open="dlg-start-assessment">Start new assessment</button>
  }
</div>
