@using Compass.ViewModels.Modern
@{
    var access = ViewBag.SubNavDataAccess as SubNavDataAccessOptions;
    if (access is not { ShowItemHint: true })
    {
        return;
    }
}
<p class="govuk-body-s page-data-access-hint govuk-!-margin-bottom-4">
  Need this as data? Use <strong>Get data</strong> or <strong>Download</strong> in the bar above.
</p>
