@* Native DfE information-style modal while a slow full navigation runs (reporting GET pages). *@
@* Opened programmatically via a visually hidden control (see page-nav-loading.js). *@
<button type="button"
        id="page-nav-loading-modal-open"
        class="govuk-visually-hidden"
        tabindex="-1"
        aria-hidden="true"
        aria-controls="page-nav-loading-modal">Open loading dialog</button>
<dialog id="page-nav-loading-modal"
        class="dfe-f-modal govuk-!-margin-0"
        data-module="dfe-f-modal"
        aria-labelledby="page-nav-loading-modal-title"
        aria-describedby="page-nav-loading-modal-description"
        aria-modal="true"
        role="dialog">
  <div class="dfe-f-modal__panel">
    <header class="dfe-f-modal__header">
      <h2 id="page-nav-loading-modal-title" class="govuk-heading-m dfe-f-modal__title">Loading report</h2>
      <button type="button" class="dfe-f-modal__close" data-dfe-modal-close aria-label="Close">
        <span class="dfe-f-modal__close-x" aria-hidden="true">×</span>
      </button>
    </header>
    <div class="dfe-f-modal__body" id="page-nav-loading-modal-description">
      <div class="generating-report-dialog__spinner govuk-!-margin-bottom-3" aria-hidden="true"></div>
      <p id="page-nav-loading-modal-hint" class="govuk-body govuk-!-margin-bottom-0">Please wait while the page is prepared.</p>
    </div>
  </div>
</dialog>
