@model Compass.ViewModels.Modern.ModernRaidEscalationReviewViewModel
<div class="govuk-button-group">
  <a class="govuk-button govuk-button--secondary" href="@Model.RiskDetailUrl" target="_blank" rel="noopener noreferrer">Open risk in RAID</a>
  <a class="govuk-button govuk-button--secondary" href="@Model.ListReturnUrl">Back to queue</a>
</div>
