@model Compass.ViewModels.Modern.ServiceLineListViewModel
@if (Model.CanEdit)
{
  <div class="govuk-button-group">
    <a class="govuk-button" href="@Url.Action("ServiceLineNew", "ModernManage")">Add service line</a>
  </div>
}
