@model FipsProductDetailViewModel
<div class="modern-service-register-product__header-sync">
  <form id="fips-cmdb-single-sync-antiforgery" method="post" class="govuk-!-margin-bottom-0" aria-hidden="true">
    @Html.AntiForgeryToken()
  </form>
  <button type="button" class="govuk-button" id="fips-cmdb-single-sync-start" aria-haspopup="dialog">Sync this product from CMDB</button>
</div>
