@if (ViewBag.ViewAsActive as bool? == true)
{
  var viewAsName = ViewBag.ViewAsUserName as string ?? "another user";
  <div class="govuk-width-container">
    <div class="dfe-c-view-as-banner" role="status">
      <span class="material-symbols-sharp dfe-c-view-as-banner__icon" aria-hidden="true">visibility</span>
      <span class="dfe-c-view-as-banner__text">Viewing as <strong>@viewAsName</strong></span>
      <button type="button" class="govuk-link govuk-link--no-visited-state dfe-c-view-as-banner__change" data-view-as-open aria-controls="view-as-modal">Change user</button>
    </div>
  </div>
}
