@model int
@if (Model == 0)
{
  <p class="govuk-body govuk-!-margin-bottom-0">Work items you have opted to watch appear here.</p>
}
else
{
  <p class="govuk-body govuk-!-margin-bottom-0">@Model work item@(Model == 1 ? "" : "s") on your watch list</p>
}
