<div class="govuk-button-group">
  <a href="@Url.Action("DownloadExcel", "Exports")" class="govuk-button govuk-button--outline-blue" data-report-download data-generating-modal-title="Generating export">Export Excel</a>
  <a href="@Url.Action("Index", "Exports", new { section = "work" })" class="govuk-button govuk-button--outline-blue">All exports</a>
  <a href="@Url.Action("Create", "ModernWork")" class="govuk-button">Create work item</a>
</div>
