@model Compass.Models.Modern.Work.WorkRegisterViewModel
@{
  var totalRegisterCount = Model.ActiveCount + Model.PausedCount + Model.CompletedCount + Model.CancelledCount;
}
<p class="govuk-body govuk-!-margin-bottom-1">@totalRegisterCount work items (excludes deleted)</p>
<p class="dfe-c-body dfe-c-text-muted dfe-c-mt-1">@Model.PageDescription</p>
