@model List<DemandPipelineRequest>
@using Compass.ViewModels.Modern
@{
  ViewData["Title"] = "Explore";
  ViewBag.QueueEmptyMessage = "No demand requests are currently in exploratory review.";
}
@section Breadcrumbs {
 <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="@Url.Action("Dashboard", "ModernDemand")">Demand</a></li>
 <li class="govuk-breadcrumbs__list-item" aria-current="page">Explore</li>
}

<div id="sc-demand-explore">
@{
  var exploreLede = await Html.PartialAsync("_GovukBodyParagraph", "Demand requests in the exploratory review stage");
}
@await Html.PartialAsync("_ModernPageHeader", new ModernPageHeaderViewModel {
  Caption = "Demand pipeline",
  Title = "Exploratory review",
  Lede = exploreLede
})
  @await Html.PartialAsync("~/Views/Modern/Demand/_DemandQueueTable.cshtml", Model)
</div>
