@model IEnumerable<Compass.Models.DemandPipeline.DemandPipelineRequest>
@{
  ViewData["Title"] = "Demand register";
  var registerCrumb = ViewBag.RegisterBreadcrumbCurrent as string ?? "Demand register";
}
@section Breadcrumbs {
 <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="@Url.Action("Dashboard", "ModernDemand")">Demand</a></li>
 <li class="govuk-breadcrumbs__list-item" aria-current="page">@registerCrumb</li>
}
@await Html.PartialAsync("~/Views/Modern/Demand/_DemandRegisterIndex.cshtml", Model)
