@model List<DemandPipelineRequest>
@using Compass.ViewModels.Modern
@{
  ViewData["Title"] = "Scoring";
  ViewBag.QueueEmptyMessage = "No demand requests are currently in scoring or scored.";
}
@section Breadcrumbs {
 <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="@Url.Action("Dashboard", "ModernDemand")">Demand</a></li>
 <li class="govuk-breadcrumbs__list-item" aria-current="page">Scoring</li>
}

<div id="sc-demand-scoring">
@{
  var scoringLede = await Html.PartialAsync("_GovukBodyParagraph", "Demands being scored or already scored (before triage)");
}
@await Html.PartialAsync("_ModernPageHeader", new ModernPageHeaderViewModel {
  Caption = "Demand pipeline",
  Title = "Prioritisation scoring",
  Lede = scoringLede
})
  @await Html.PartialAsync("~/Views/Modern/Demand/_DemandQueueTable.cshtml", Model)
</div>
