@model Compass.Models.DemandPipeline.DemandPipelineRequest
@using Compass.ViewModels.Modern
@{
  ViewData["Title"] = "Demand submitted";
}
@section Breadcrumbs {
 <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="@Url.Action("Dashboard", "ModernDemand")">Demand</a></li>
 <li class="govuk-breadcrumbs__list-item" aria-current="page">Submitted</li>
}
@{
  var submittedLede = await Html.PartialAsync("_DemandSubmittedHeaderLede", Model);
}
@await Html.PartialAsync("_ModernPageHeader", new ModernPageHeaderViewModel {
  Caption = "Demand",
  Title = "Request submitted",
  Lede = submittedLede
})
<div class="dfe-c-button-group">
 <a href="@Url.Action("RequestDetail", "ModernDemand", new { id = Model.Id })" class="govuk-button">View request</a>
 <a href="@Url.Action("Register", "ModernDemand")" class="govuk-button govuk-button--secondary">Demand register</a>
</div>
