@model Compass.ViewModels.Modern.ModernProfileViewModel
@using Compass.ViewModels.Modern
@using Microsoft.AspNetCore.Html
@{
  ViewData["Title"] = "Permissions";
  ViewBag.ProfileSubNav = "permissions";

  var permissionsLede = new HtmlString("<p class=\"govuk-body govuk-!-margin-bottom-0\">Security groups from your organisation’s directory that apply to your account.</p>");
}

@section Breadcrumbs {
  <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="@Url.Action("Index", "ModernDashboard")">Home</a></li>
  <li class="govuk-breadcrumbs__list-item"><a class="govuk-breadcrumbs__link" href="@Url.Action("Index", "ModernProfile")">Profile</a></li>
  <li class="govuk-breadcrumbs__list-item" aria-current="page">Permissions</li>
}

<div class="modern-work-page profile-page">

@await Html.PartialAsync("~/Views/Modern/Shared/_ModernPageHeader.cshtml", new ModernPageHeaderViewModel {
  Caption = "Account",
  Title = "Permissions",
  HeadingClass = "govuk-heading-l",
  Lede = permissionsLede
})

@await Html.PartialAsync("~/Views/Modern/Profile/_ProfileSubNav.cshtml")

<section class="profile-page__groups govuk-!-margin-bottom-6" aria-labelledby="profile-groups-heading">
  <h2 class="govuk-heading-m govuk-!-margin-top-0" id="profile-groups-heading">Directory groups</h2>
  @if (Model.DirectoryGroups.Count == 0)
  {
    <p class="govuk-body govuk-!-margin-bottom-0">No directory groups were found for your account.</p>
  }
  else
  {
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
      @foreach (var g in Model.DirectoryGroups.OrderBy(x => x, StringComparer.OrdinalIgnoreCase))
      {
        <li>@g</li>
      }
    </ul>
  }
</section>

</div>
