@model Compass.ViewModels.Modern.AdminGroupDetailViewModel
@{
  var editHref = Url.Action("GroupEdit", "ModernAdmin", new { id = Model.Id }) ?? "#";
}
@if (!string.IsNullOrEmpty(Model.Description))
{
  <p class="govuk-body">@Model.Description</p>
}
<p class="govuk-body govuk-!-margin-bottom-0">
  <a href="@editHref" class="govuk-link govuk-link--no-visited-state">Edit group details</a>
</p>
