@model List<FipsReporting.Data.ReportingMetric>

@{
    ViewData["Title"] = "Reporting Metrics";
    ViewData["ActiveNav"] = "reporting-metrics";
}

<div class="govuk-width-container">
    <div class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-l">Reporting Metrics</h1>
                <p class="govuk-body">Manage and view reporting metrics for your products.</p>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                @if (Model != null && Model.Any())
                {
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header">Name</th>
                                <th class="govuk-table__header">Description</th>
                                <th class="govuk-table__header">Measurement Type</th>
                                <th class="govuk-table__header">Is Mandatory</th>
                                <th class="govuk-table__header">Status</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            @foreach (var metric in Model)
                            {
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                        <a href="@Url.Action("Details", new { id = metric.Id })" class="govuk-link">
                                            @metric.Name
                                        </a>
                                    </td>
                                    <td class="govuk-table__cell">@metric.Description</td>
                                    <td class="govuk-table__cell">@metric.MeasurementType</td>
                                    <td class="govuk-table__cell">
                                        @if (metric.IsMandatory)
                                        {
                                            <span class="govuk-tag govuk-tag--blue">Mandatory</span>
                                        }
                                        else
                                        {
                                            <span class="govuk-tag govuk-tag--grey">Optional</span>
                                        }
                                    </td>
                                    <td class="govuk-table__cell">
                                        @if (metric.IsActive)
                                        {
                                            <span class="govuk-tag govuk-tag--green">Active</span>
                                        }
                                        else
                                        {
                                            <span class="govuk-tag govuk-tag--red">Inactive</span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="govuk-inset-text">
                        <p class="govuk-body">No reporting metrics found.</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
