<div class="developers-docs__intro govuk-!-margin-bottom-6">
    <span class="govuk-caption-xl">Documentation</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">COMPASS documentation</h1>
    <p class="govuk-body-l govuk-!-margin-bottom-0">
        Internal documentation for the COMPASS platform. Use the sections in the guide to find feature guides, technical reference, and operational information.
    </p>
</div>

<h2 class="govuk-heading-l" id="getting-started">Getting started</h2>
<p class="govuk-body">
    Documentation pages will be added here. Tell us which topics to cover first and we will build out the guide.
</p>

<h2 class="govuk-heading-l" id="reference">Reference</h2>
<ul class="govuk-list">
    <li>
        <a class="govuk-link" href="@Url.Action("Api", "Docs")">API reference</a> &mdash;
        endpoint guidance, authentication, request and response models for the COMPASS REST API.
    </li>
</ul>

@section Aside {
    <h2 class="docs-page-aside-heading">On this page</h2>
    <ul class="docs-page-aside-nav">
        <li><a href="#getting-started">Getting started</a></li>
        <li><a href="#reference">Reference</a></li>
    </ul>
}
