@model Compass.ViewModels.Modern.RaidRegisterItemTitleVm
<td class="govuk-table__cell">
  <a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state" href="@Model.DetailUrl">@Model.Title</a>
  <div class="dfe-c-body-s dfe-c-text-muted govuk-!-margin-top-1" style="line-height:1.3;">@Model.Reference</div>
</td>
