@model (string Title, Microsoft.AspNetCore.Html.IHtmlContent Body)
<article class="dfe-f-card raid-dash-panel-card">
    <div class="dfe-f-card__inner">
        <header class="dfe-f-card__header">
            <h3 class="govuk-heading-s dfe-f-card__heading govuk-!-margin-top-0">@Model.Title</h3>
        </header>
        <div class="dfe-f-card__body govuk-body govuk-!-margin-bottom-0">
            @Model.Body
        </div>
    </div>
</article>
