@model Compass.ViewModels.Modern.RaidRegisterPaginationFooterViewModel
@if (Model.IsPaginated)
{
  <div class="modern-work-register-footer govuk-!-margin-top-6">
    <p class="dfe-c-text-muted modern-work-register-footer__count">
      Showing @Model.DisplayRowStart–@Model.DisplayRowEnd of @Model.TotalFiltered.ToString("N0") @Model.ItemNoun
    </p>
    @if (Model.TotalPages > 1)
    {
      <div class="modern-work-register-footer__pagination">
        @await Html.PartialAsync("~/Views/Modern/Shared/_GovUkPagination.cshtml", new GovUkPaginationViewModel {
          CurrentPage = Model.CurrentPage,
          TotalPages = Model.TotalPages,
          PageUrl = Model.PageUrl,
          NavigationAriaLabel = Model.NavigationAriaLabel
        })
      </div>
    }
  </div>
}
