@model Compass.Models.Issue
@{
  var actionsTabUrl = ViewBag.IssueDetailActionsTabUrl as string ?? "#";
  var canChangeIssue = ViewBag.CanChangeIssueDetail as bool? ?? false;
  var issueEditUrl = ViewBag.IssueDetailEditUrl as string ?? "#";
}
<div class="dfe-c-flex" style="gap:0.5rem;flex-wrap:wrap;align-items:flex-start;">
  <a href="@actionsTabUrl" class="govuk-button govuk-button--secondary">Manage actions</a>
  @if (canChangeIssue)
  {
    <a href="@issueEditUrl" class="govuk-button">Edit issue</a>
  }
</div>
