@model Compass.Models.Risk
@{
  var canMakeIssue = ViewBag.RiskCanMakeIssue as bool? ?? false;
  var materialisedIssueId = ViewBag.RiskMaterialisedIssueId as int?;
}
<div class="govuk-button-group work-item-masthead__actions-buttons">
  @if (canMakeIssue)
  {
    <a href="@Url.Action("RiskMakeIssue", "ModernRaid", new { id = Model.Id })" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0">Make issue</a>
  }
  else if (materialisedIssueId is int issueId)
  {
    <a href="@Url.Action("IssueDetail", "ModernRaid", new { id = issueId })" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0">View issue I-@issueId.ToString("D4")</a>
  }
  <a href="/modern/raid/risks/@Model.Id/escalation-request" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0">Escalate / de-escalate</a>
  <a href="/modern/raid/risks/@Model.Id/edit" class="govuk-button govuk-!-margin-bottom-0">Edit risk</a>
</div>
