@model Compass.Models.Assumption
@{
  var workItemUrl = ViewBag.AssumptionDetailWorkItemUrl as string;
  var editUrl = ViewBag.AssumptionDetailEditUrl as string ?? "#";
}
<div class="dfe-c-flex" style="gap:0.5rem;flex-wrap:wrap;align-items:flex-start;">
  @if (!string.IsNullOrEmpty(workItemUrl))
  {
    <a href="@workItemUrl" class="govuk-button govuk-button--secondary">Work item</a>
  }
  <a href="@editUrl" class="govuk-button">Edit assumption</a>
</div>
