@model IReadOnlyList<Compass.ViewModels.Modern.RiskAuditTimelineItemVm>
@using System.Globalization
@{
  var enGb = CultureInfo.GetCultureInfo("en-GB");
}
@if (Model.Count == 0)
{
  <p class="govuk-body govuk-hint govuk-!-margin-bottom-0">No previous updates recorded.</p>
}
else
{
  <ol class="govuk-list govuk-!-margin-bottom-0">
    @foreach (var item in Model)
    {
      <li class="govuk-!-margin-bottom-3">
        <p class="govuk-body govuk-!-margin-bottom-1">
          <strong>@item.WhenUtc.ToString("d MMM yyyy", enGb)</strong>
          <span class="govuk-body-s"> · @item.ActorDisplay</span>
        </p>
        <p class="govuk-body govuk-!-margin-bottom-0">@item.What</p>
        @if (!string.IsNullOrWhiteSpace(item.Detail))
        {
          <p class="govuk-body-s govuk-hint govuk-!-margin-bottom-0">@item.Detail</p>
        }
      </li>
    }
  </ol>
}
