@model Compass.ViewModels.Modern.ModernRaidRisksPageViewModel
@{
  var mode = ViewBag.RaidRisksHeroMode as string ?? "risks";
  var modeLede = ViewBag.RaidRisksHeroModeLede as string ?? "";
}
<p class="govuk-body govuk-!-margin-bottom-0">@modeLede</p>
@if (mode == "tier")
{
  <p class="govuk-body-s govuk-!-margin-bottom-0 govuk-!-margin-top-2">
    <a class="govuk-link" href="@Url.Action("Index", "ModernAdmin", new { panel = "risk-tiers" })">Manage tier definitions</a>
    · <a class="govuk-link" href="/modern/raid/risks/create">Add risk</a>
  </p>
}
@if (mode == "business-areas")
{
  <p class="govuk-body-s govuk-!-margin-bottom-0 govuk-!-margin-top-2">
    <a class="govuk-link" href="@Url.Action("Index", "ModernAdmin", new { panel = "business-areas" })">Manage business areas</a>
    · <a class="govuk-link" href="/modern/raid/risks/create">Add risk</a>
  </p>
}
