@model Compass.ViewModels.Modern.RaidRegisterItemTitleVm
<td>
  <a class="govuk-link govuk-!-font-weight-bold" href="@Model.DetailUrl">@Model.Title</a>
  <div class="dfe-c-body-s dfe-c-text-muted govuk-!-margin-top-1" style="line-height:1.3;">@Model.Reference</div>
</td>
