@model Compass.ViewModels.Modern.RaidRegisterScopeNavViewModel
<nav class="dfe-f-sub-navigation govuk-!-margin-top-4 govuk-!-margin-bottom-3 raid-register-scope-nav" aria-label="@Model.AriaLabel">
  <ul class="dfe-f-sub-navigation__list" style="flex-wrap:wrap;">
    @foreach (var link in Model.Links)
    {
      var isActive = string.Equals(Model.ActiveTab, link.TabKey, StringComparison.OrdinalIgnoreCase);
      <li class="dfe-f-sub-navigation__item@(isActive ? " dfe-f-sub-navigation__item--active" : "")">
        <a class="dfe-f-sub-navigation__link govuk-link" href="@link.Href"@if (isActive) { <text> aria-current="page"</text> }>
          @link.Label <span class="dfe-c-fw-regular">(@link.Count)</span>
        </a>
      </li>
    }
  </ul>
</nav>
