<div id="raid-scope-conflict-panel" class="govuk-notification-banner govuk-!-margin-bottom-6" style="display:none" role="region" aria-labelledby="raid-scope-conflict-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="raid-scope-conflict-title">Also tracked elsewhere</h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading govuk-!-margin-bottom-2" id="raid-scope-conflict-message"></p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2" id="raid-scope-conflict-registers"></ul>
    <p class="govuk-body-s govuk-!-margin-bottom-2">
      You can still track and manage risks, issues and near misses in this register, but someone else could also update risks, issues and near misses for this product or work item.
    </p>
    <button type="button" class="govuk-link govuk-body-s" data-raid-scope-conflict-dismiss id="raid-scope-conflict-dismiss">Dismiss</button>
  </div>
</div>
