@model Compass.ViewModels.Modern.RaidRegisterOnboardingViewModel

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="Name">Register name</label>
  <div id="Name-hint" class="govuk-hint">Give your RAID register a name that describes its scope or purpose.</div>
  <input class="govuk-input" id="Name" name="Name" type="text" value="@Model.Name"
         aria-describedby="Name-hint" />
</div>

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="Description">Description (optional)</label>
  <div id="Description-hint" class="govuk-hint">Briefly describe what this register covers and its purpose.</div>
  <textarea class="govuk-textarea" id="Description" name="Description" rows="4"
            aria-describedby="Description-hint">@Model.Description</textarea>
</div>
