@model Compass.ViewModels.Modern.RaidRegisterOnboardingViewModel

<h2 class="govuk-heading-m">Directorate and portfolio</h2>
@await Html.PartialAsync("~/Views/Modern/Raid/Registers/_RaidRegisterScopeFields.cshtml", Model)
