@model Compass.ViewModels.DemandManagement.DemandSectionContentViewModel
@using System.Linq
@using Compass.ViewModels.DemandManagement
@using Compass.Models

@{
    var workflow = Model.Workflow;
    var request = workflow.Request;
    var sectionKey = workflow.ActiveSectionKey;
    var sectionDefinition = Model.RequestSections.Concat(Model.AssessmentSections)
        .FirstOrDefault(s => string.Equals(s.Key, sectionKey, StringComparison.OrdinalIgnoreCase));

    ViewData["BusinessAreas"] = workflow.BusinessAreas;
    ViewData["MissionPillars"] = workflow.MissionPillars;
    ViewData["StrategicObjectives"] = workflow.StrategicObjectives;

    var completionModel = Model.SectionStatus;
    completionModel.ReturnUrl ??= $"{Context.Request.Path}{Context.Request.QueryString}";

    var detailModel = new Compass.ViewModels.DemandManagement.DemandSectionDetailViewModel
    {
        Request = request,
        Status = completionModel,
        BusinessAreas = workflow.BusinessAreas ?? Enumerable.Empty<string>(),
        MissionPillars = workflow.MissionPillars ?? Enumerable.Empty<string>(),
        StrategicObjectives = workflow.StrategicObjectives ?? Enumerable.Empty<string>(),
        RiskTypes = workflow.RiskTypes ?? Array.Empty<RiskType>(),
        ActiveSectionKey = sectionKey
    };
}

<div class="demand-section-wrapper" data-active-section="@sectionKey">
    @if (!string.IsNullOrWhiteSpace(Model.SuccessMessage))
    {
        <div class="alert alert-success">@Model.SuccessMessage</div>
    }
    @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <div class="alert alert-danger">@Model.ErrorMessage</div>
    }

    @{
        switch (sectionKey)
        {
            case "StrategicAlignment":
                @await Html.PartialAsync("_StrategicAlignment", detailModel)
                break;
            case "ImpactAndRisk":
                @await Html.PartialAsync("_ImpactAndRisk", detailModel)
                break;
            case "FundingAndHeadcount":
                @await Html.PartialAsync("_FundingAndHeadcount", detailModel)
                break;
            case "DeliveryPlanning":
                @await Html.PartialAsync("_DeliveryPlanning", detailModel)
                break;
            case "Notes":
                @await Html.PartialAsync("_Notes", detailModel)
                break;
            case "ResearchAndEvidence":
            case "NeedsAssessment":
            case "Recommendations":
            case "PrioritisationAssessment":
            case "Outcome":
                @await Html.PartialAsync("_Assessment", new { Model = request, AssessmentType = sectionKey, SectionStatus = completionModel })
                break;
            default:
                @await Html.PartialAsync("_Overview", detailModel)
                break;
        }
    }

    @await Html.PartialAsync("_SectionStatusPanel", completionModel)
</div>